<div class="container">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Ime">Ime</label>
            <input type="text" class="form-control" id="Ime" [(ngModel)]="patient.personalInfo.name" placeholder="Ime">
        </div>
        <div class="form-group col-md-6">
            <label for="Prezime">Prezime</label>
            <input type="text" class="form-control" id="Prezime" [(ngModel)]="patient.personalInfo.surname"
                placeholder="Prezime">
        </div>
    </div>
    <div class="form-group">
        <label for="tel">Broj Telefona</label>
        <input type="text" class="form-control" id="tel" [(ngModel)]="patient.personalInfo.phoneNumber"
            placeholder="Tel...">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="JMBG">JMBG</label>
            <input type="text" class="form-control" id="JMBG" [(ngModel)]="patient.personalInfo.jmbg"
                placeholder="JMBG">
        </div>
        <div class="form-group col-md-6">
            <label for="LBO">LBO</label>
            <input type="text" class="form-control" id="LBO" [(ngModel)]="patient.personalInfo.lbo" placeholder="LBO">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Adresa">Adresa</label>
            <input type="text" class="form-control" id="Adresa" [(ngModel)]="patient.personalInfo.address.street"
                placeholder="Adresa">
        </div>
        <div class="form-group col-md-6">
            <label for="Ispostava">Ispostava</label>
            <input type="text" class="form-control" id="Ispostava" [(ngModel)]="patient.clinicBranch"
                placeholder="Ispostava">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Drzavljanstvo">Drzavljanstvo</label>
            <div class="ng-autocomplete">
                <ng-autocomplete [data]="drzave" [searchKeyword]="keyword"
                    (selected)='selectEvent($event, "citizenship")' [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Uvoz (Zemlja)</label>
            <div class="ng-autocomplete">
                <ng-autocomplete [data]="drzave" [searchKeyword]="keyword"
                    (selected)='selectEvent($event, "countryOfImport")' [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>
        </div>
    </div>
    <hr>
    <div class="form-group">
        <h6>Status</h6>
        <div class="custom-control custom-radio custom-control">
            <input type="radio" id="customRadioInline1" name="customRadioInline1" value="Student"
                class="custom-control-input" (change)="checked('Izlecen')">
            <label class="custom-control-label" for="customRadioInline1">Izlecen</label>
        </div>
        <div class="custom-control custom-radio custom-control">
            <input type="radio" id="customRadioInline2" name="customRadioInline1" value="Lekar"
                class="custom-control-input" (change)="checked('Sumnja')">
            <label class="custom-control-label" for="customRadioInline2">Sumnja - Moguc</label>
        </div>
        <br>
        <div class="custom-control custom-radio custom-control">
            <input type="radio" id="customRadioInline3" name="customRadioInline1" value="MUP"
                class="custom-control-input" (change)="checked('Verovatan')">
            <label class="custom-control-label" for="customRadioInline3">Verovatan</label>
        </div>
        <div class="custom-control custom-radio custom-control">
            <input type="radio" id="customRadioInline4" name="customRadioInline1" value="Student"
                class="custom-control-input" (change)="checked('Potvrda')">
            <label class="custom-control-label" for="customRadioInline4">Potvrda</label>
        </div>
        <div class="custom-control custom-radio custom-control">
            <input type="radio" id="customRadioInline5" name="customRadioInline1" value="Lekar"
                class="custom-control-input" (change)="checked('Mortalitet')">
            <label class="custom-control-label" for="customRadioInline5">Mortalitet</label>
        </div>
        <br>
        <label>Datum</label>
        <input type="date" [ngModel]="date | date:'yyyy-MM-dd'">
    </div>
    <button type="submit" class="btn btn-primary" (click)="registracija()">Registruj</button>
</div>