<div class="container">
    <h5>Korisnici</h5>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">Doktor</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false">Student</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                aria-controls="nav-contact" aria-selected="false">Mup</a>
        </div>
    </nav>
    <!-- <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Pretraga" aria-label="Search">
    </form>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ime</th>
                <th scope="col">Prezime</th>
                <th scope="col">Broj tel</th>
                <th scope="col">Opcije</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of doctor | paginate: { itemsPerPage: 10, currentPage: pa }; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{u.accountData.name}}</td>
                <td>{{u.accountData.surname}}</td>
                <td>{{u.accountData.phoneNumber}}</td>
                <td>
                    <button [routerLink]="['/korisnik', u.id]" class="btn btn-primary btn-sm">Vise</button>
                    <button (click)="delete(u.id)" class="btn btn-danger btn-sm">Obrisi</button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pa = $event"></pagination-controls> -->
</div>