<div class="container">
    <h6 style="text-align: center;">Novi kontakt za: Marko Markovic</h6>
    <h6 style="text-align: center;">Tel: 0637365645</h6>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Ime</label>
            <input type="text" class="form-control" id="ime" [(ngModel)]="kontakt.name" placeholder="Ime">
        </div>
        <div class="form-group col-md-6">
            <label for="inputAnamneza">Prezime</label>
            <input type="text" class="form-control" id="prezime" [(ngModel)]="kontakt.surname" placeholder="Prezime">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputAnamneza">Opis</label>
            <textarea name="anamneza" cols="100" rows="5" [(ngModel)]="kontakt.description" placeholder="Opis.."></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Broj telefona</label>
            <input type="text" class="form-control" id="temp" [(ngModel)]="kontakt.phoneNumber" placeholder="Br tel..">
        </div>
    </div>
    <hr>
    <div class="form-group">
        <!-- <h6>Status</h6>
        <div class="custom-control custom-radio custom-control">
            <input type="radio" id="customRadioInline1" name="customRadioInline1" value="Student"
                class="custom-control-input" (change)="checked('Izlecen')">
            <label class="custom-control-label" for="customRadioInline1">Izlecen</label>
        </div>
        <div class="custom-control custom-radio custom-control">
            <input type="radio" id="customRadioInline2" name="customRadioInline1" value="Lekar"
                class="custom-control-input" (change)="checked('Sumnja')">
            <label class="custom-control-label" for="customRadioInline2">Sumnja - Moguc</label>
        </div>
        <br>
        <div class="custom-control custom-radio custom-control">
            <input type="radio" id="customRadioInline3" name="customRadioInline1" value="MUP"
                class="custom-control-input" (change)="checked('Verovatan')">
            <label class="custom-control-label" for="customRadioInline3">Verovatan</label>
        </div>
        <div class="custom-control custom-radio custom-control">
            <input type="radio" id="customRadioInline4" name="customRadioInline1" value="Student"
                class="custom-control-input" (change)="checked('Potvrda')">
            <label class="custom-control-label" for="customRadioInline4">Potvrda</label>
        </div>
        <div class="custom-control custom-radio custom-control">
            <input type="radio" id="customRadioInline5" name="customRadioInline1" value="Lekar"
                class="custom-control-input" (change)="checked('Mortalitet')">
            <label class="custom-control-label" for="customRadioInline5">Mortalitet</label>
        </div>
        <br> -->
        <label>Datum</label>
        <input type="date" [ngModel]="date | date:'yyyy-MM-dd'">
    </div>
    <button type="submit" class="btn btn-primary" (click)="dodaj()">Dodaj</button>
</div>