.ng-autocomplete {
  width: 100%;
  max-width: 600px;
  display: table;
  margin: 0 auto;
}
  
@media only screen and (max-width: 600px) {
    ng-autocomplete {
        width: 100%;
        max-width: 300px;
        display: table;
        margin: 0 auto;
    }
  }