<div class="list-group">
    <button class="btn btn-primary btn-sm" (click)="novoStanje()">Dodaj Stanje</button>
    <div *ngFor="let s of status">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"></h5>
                <small>{{s.date | date}}</small>
            </div>
            <p class="mb-1"><b>ANAMNEZA:</b>{{s.anamneses}}</p>
            <small style="margin-right: 5px;">Temp: {{s.temperature}}C</small>
        </a>
    </div>
</div>