<div style="text-align:center">
  <div style="display: flex; justify-content: center;">
    <a *ngIf="isLoggedIn" routerLink="/home"><img style="width: 30px; height: auto;" src="../assets/home.png" title="HOME" alt="home"></a>
    <h5>
      {{ title }}
    </h5>
    <a *ngIf="isLoggedIn" routerLink="/login" (click)="logout()"><img style="width: 30px; height: auto;" src="../assets/logout.png" title="LOGOUT" alt="logout"></a>
  </div>
</div>
<hr>
<router-outlet></router-outlet>