<div class="container">
    <div class="form-group">
      <label>Telefon</label>
      <input type="text" class="form-control" id="brojtelefona" placeholder="Broj telefona" [(ngModel)]="accountData.phoneNumber" >
    </div>
    <div class="form-group">
      <label>PIN</label>
      <input type="password" class="form-control" id="pin" placeholder="PIN" [(ngModel)]="accountData.pin">
    </div>
    <button (click)="onLogin()" style="float: right;" class="btn btn-primary">Submit</button>
</div>