<div *ngIf="pacijent" class="container">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="ime">Ime</label>
            <input type="text" class="form-control" id="ime" [(ngModel)]="pacijent.personalInfo.name" placeholder="Ime">
        </div>
        <div class="form-group col-md-6">
            <label for="inputSurname">Prezime</label>
            <input type="text" class="form-control" id="inputSurname" [(ngModel)]="pacijent.personalInfo.name"
                placeholder="Prezime">
        </div>
    </div>
    <div class="form-group">
        <label for="inputTelefon">Broj Telefona</label>
        <input type="text" class="form-control" id="inputTelefon" [(ngModel)]="pacijent.personalInfo.phoneNumber" placeholder="Tel...">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="jbg">JMBG</label>
            <input type="text" class="form-control" id="jbg" [(ngModel)]="pacijent.personalInfo.jmbg" placeholder="JMBG">
        </div>
        <div class="form-group col-md-6">
            <label for="lbo">LBO</label>
            <input type="text" class="form-control" id="lbo" [(ngModel)]="pacijent.personalInfo.lbo" placeholder="LBO">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="adresa">Adresa</label>
            <input type="text" class="form-control" id="adresa" [(ngModel)]="pacijent.personalInfo.adresa" placeholder="Adresa">
        </div>
        <div class="form-group col-md-6">
            <label for="ispostava">Ispostava</label>
            <input type="text" class="form-control" id="ispostava" [(ngModel)]="pacijent.countryOfImport"
                placeholder="Ispostava">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="drzavljanstvo">Drzavljanstvo</label>
            <input type="text" class="form-control" id="drzavljanstvo" [(ngModel)]="pacijent.citizenship"
                placeholder="Drzavljanstvo">
        </div>
        <div class="form-group col-md-6">
            <label for="uvoz">Uvoz (Zemlja)</label>
            <input type="text" class="form-control" id="uvoz" [(ngModel)]="pacijent.countryOfImport"
                placeholder="Uvoz (Zemlja)">
        </div>
    </div>
    <hr>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Status</label>
            <input type="text" class="form-control" id="inputEmail4" [(ngModel)]="pacijent.status"
                placeholder="Status">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Datum pocetka</label>
            <input type="text" class="form-control" id="inputPassword4" value="{{pacijent.datum | date}}"
                placeholder="Datum">
        </div>
    </div>

    <!-- <button type="submit" class="btn btn-primary" (click)="registracija()">Izmena</button> -->
</div>