<div class="container">
    <h5>Pacijenti</h5>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" (input)="filterSearch($event.target.value)" placeholder="Pretraga" aria-label="Search">
        <!-- <button class="btn btn-outline-primary my-2 my-sm-0">Pretrazi</button> -->
        <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="/novipacijent">Dodaj Novog</button>
    </form>
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ime Prezime</th>
                <th scope="col">JMBG</th>
                <th scope="col">LBO</th>
                <th scope="col">br tel</th>
                <th scope="col">Adresa</th>
                <th scope="col">Detaljnije</th>
                <th scope="col">Obrisi</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of patient | filterSearch : searchText | paginate: { itemsPerPage: 10, currentPage: pa }; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{p.personalInfo.name}}</td>
                <td>{{p.personalInfo.jmbg}}</td>
                <td>{{p.personalInfo.lbo}}</td>
                <td>{{p.personalInfo.phoneNumber}}</td>
                <td>{{p.personalInfo.address.street}}</td>
                <td>
                    <button [routerLink]="['/pacijent', p.id]" class="btn btn-primary btn-sm">Vise</button>
                </td>
                <td>
                    <button (click)="deletePatient(p.id)" class="btn btn-danger btn-sm">Obrisi</button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pa = $event"></pagination-controls>
</div>