<div class="list-group">
    <button class="btn btn-primary btn-sm" (click)="noviKontakt()">Dodaj kontakt</button>
    <div *ngFor="let c of contact">
        <a class="list-group-item flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Kontakt: {{c.name}} {{c.surname}}</h5>
                <small><button (click)="proglasiPacijentom(c.name, c.surname, c.phoneNumber)" class="btn btn-outline-primary btn-sm">Proglasi
                        pacijentom</button> Registrovan: {{c.date | date}}</small>
            </div>
            <p class="mb-1">Kontakti: <b>12</b></p>
            <b style="margin-right: 5px;">Info:</b><small style="margin-right: 5px;">Opis: {{c.description}}</small>
        </a>
    </div>
</div>