<div class="container">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Ime</label>
            <input type="text" class="form-control" id="inputEmail4" [(ngModel)]="doctor.accountData.name" placeholder="Ime">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Prezime</label>
            <input type="text" class="form-control" id="inputPassword4" [(ngModel)]="doctor.accountData.surname" placeholder="Prezime">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Broj Telefona</label>
        <input type="text" class="form-control" id="inputAddress" [(ngModel)]="doctor.accountData.phoneNumber" placeholder="Tel...">
    </div>
    <div class="form-group">
        <label for="inputAddress2">PIN</label>
        <input type="password" class="form-control" id="inputAddress2" [(ngModel)]="doctor.accountData.pin" placeholder="PIN">
    </div>
    <button type="submit" class="btn btn-primary" (click)="registracija()">Registruj</button>
</div>

<br>
<hr>
<br>
<div class="container">
  
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <app-korisnik-tabela [tabelaKorisnika]></app-korisnik-tabela> 
        </div>
    </div>
</div>