<div class="container">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Ime</label>
            <input type="text" class="form-control" id="inputEmail4" [(ngModel)]="user.name" placeholder="Ime">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Prezime</label>
            <input type="text" class="form-control" id="inputPassword4" [(ngModel)]="user.surname" placeholder="Prezime">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Broj Telefona</label>
        <input type="text" class="form-control" id="inputAddress" [(ngModel)]="user.phoneNumber" placeholder="Tel...">
    </div>
    <div class="form-group">
        <label for="inputAddress2">PIN</label>
        <input type="password" class="form-control" id="inputAddress2" [(ngModel)]="user.pin" placeholder="PIN">
    </div>

    <button type="submit" class="btn btn-primary" (click)="editUser()">Promeni</button>
</div>