<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Pregled Svih Pacijenata</h5>
                    <p>Detaljan pregled svih pacijenata</p>
                    <a routerLink="/pacijenti" class="btn btn-primary">Zapocni</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dodaj Pacijenta</h5>
                    <p>Dodavanje novog pacijenta u bazu</p>
                    <a routerLink="/novipacijent" class="btn btn-primary">Zapocni</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="role == 'ROLE_ADMINISTRATOR'">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Registruj novog korisnika</h5>
                    <p>Registracija novog korisnika sistema</p>
                    <a routerLink="/registracija" class="btn btn-primary">Zapocni</a>
                </div>
            </div>
        </div>
    </div>
</div>