<div class="container">
    <h5 style="text-align: center;">Pacijent: Marko Markovic</h5>
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">Detalji</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false">Stanja</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                aria-controls="nav-contact" aria-selected="false">Kontakti</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-izvestaj" role="tab"
                aria-controls="nav-contact" aria-selected="false">Izvestaji</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <app-pacijent-prikaz [pacijent]="patient"></app-pacijent-prikaz>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <app-stanje [status]="patient.status"></app-stanje>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <app-kontakt [contact]="patient.contact"></app-kontakt>
        </div>
        <div class="tab-pane fade" id="nav-izvestaj" role="tabpanel" aria-labelledby="nav-contact-tab">
            ...Izvestaji...
        </div>
    </div>
</div>